<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="下载.html" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="iisstart.htm" />
				</files>
			</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>
    <system.web>
        <globalization culture="zh-CN" uiCulture="zh-CN" />
    </system.web>
</configuration>

